
<div class="client-summary-container">
  <div class="client-summary-img"></div>
  <div class="client-summary-details">
      <h1>Name</h1>
      Lives in: <b>{{ clientSummary.location }}</b><br />
      Work: <b>{{ clientSummary.occupation }}</b><br />
      Birthday: <b>{{ clientSummary.birthDate | date: 'dd MMMM yyyy' }}</b><br />
      Bank Better Score: <b>{{ clientSummary.score }}</b><br />
  </div>
  <div class="client-summary-status">
        {{ clientSummary.score }}
  </div>
  <app-quick-actions></app-quick-actions>
</div>