
<div class="client-summary-container">
  <div class="client-summary-img">
    <img src="{{clientSummary.photo.url}}" alt="clientSummary.photo.description">
  </div>
  <div class="client-summary-details">
      <h1>{{clientSummary.name}}</h1>
      Lives in: <b>{{ clientSummary.location }}</b><br />
      Work: <b>{{ clientSummary.occupation }}</b><br />
      Birthday: <b>{{ clientSummary.birthDate | date: 'dd MMMM yyyy' }}</b><br />
      Bank Better Score: <b>{{ clientSummary.score }}</b><br />
  </div>
  <div class="client-summary-status">
        <app-client-score></app-client-score>
  </div>
  <app-quick-actions></app-quick-actions>
</div>