.score-widget-begin {
	border-radius: 100px 0 0 100px;
	background-color: #EF9E15;
}

.score-widget-end-empty {
	border-radius: 0 100px 100px 0;
	background-color: #D8D8D8;
}

.score-widget-end-full {
	border-radius: 0 100px 100px 0;
	background: linear-gradient(270deg, #F4B140 0%, #EF9E15 100%);
}

.score-widget-full {
	background: linear-gradient(270deg, #F4B140 0%, #EF9E15 100%);
}

.score-widget-empty {
	background-color: #D8D8D8;
}

.score-widget{
	height: 10px;
	width: 49px;
}

.float {
	float: left;
	margin-right: 2px;
}