.app-banner {
    height: 76px;
    width: 1920px;
}

.app-banner-left {
    height: inherit;
    width: 960px;
    background: #00486D;
    float: left;
    padding-left:20px;
}

.banner-logo {
    padding-top: 2%;
}

.app-banner-right {
    width: 960px;
    background-image: url('/assets/imgs/bgs/banner-bg.png');
    float: right;
    height: 100%;
    background-position: center;
    background-repeat: repeat;
    padding: 13px 30px 22px 250px;
}

.banner-calendar{
    color: #FFFFFF;
    letter-spacing: 1.33px;
    line-height: 29px;
    float: left;
}

.banner-date {
	height: 81px;
    color: #FFFFFF;
    font-family: Flama-Light;
	font-size: 20px;
	font-weight: 600;
    letter-spacing: 1.5px;
    line-height: 47px;
    text-align: right;
    float: left;
}

.casper-input input {
    background-image: url('/assets/imgs/bgs/Casper Blue.svg');
    background-repeat: no-repeat;
    background-position-x: 5%;
    background-position-y: center;

    border-radius: 2px;
    border: 1px;
    height: 48px;	
    width: 320px;
    color: #4B585C;	
    font-size: 15px;
    font-weight:bold;
    letter-spacing: 1.5px;
    line-height: 17px;
    float:right;
    padding-left: 10%;
}

.calendar-img {
    float:left;
    margin-right:25px;
    padding-top: 1%;
}