.app-banner {
    height: 60px;
    width: 1920px;
}

.app-banner-left {
    height: inherit;
    width: 960px;
    background: #00486D;
    float: left;
}

.app-banner-right {
    width: 960px;
    background-image: url('/assets/imgs/bgs/banner-bg.png');
    float: right;
    height: 100%;
    background-position: center;
    background-repeat: repeat;
    padding: 12px 100px 0px 450px;
}

.banner-calendar{
    color: #FFFFFF;
    letter-spacing: 1.33px;
    line-height: 29px;
    float: left;
}

.banner-date {
	height: 81px;
    color: #FFFFFF;
    font-family: Flama-Light;
	font-size: 20px;
	font-weight: 500;
    letter-spacing: 1.33px;
    line-height: 29px;
    text-align: right;
    float: right;
}