/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/alertifyjs/build/css/alertify.min.css';
@import '../node_modules/alertifyjs/build/css/themes/bootstrap.min.css';
@import '../node_modules/font-awesome/css/font-awesome.min.css';
@import '../node_modules/ngx-bootstrap/datepicker/bs-datepicker.css';

.pointer {
   cursor: pointer; 
}

/* Main text styles */

.mr-vuyo-makatini {
	width: 206px;
	color: #4B585C;
	font-family: Flama;
	font-size: 22px;
	font-weight: 600;
	letter-spacing: 1.47px;
	line-height: 32px;
}