/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/alertifyjs/build/css/alertify.min.css';
@import '../node_modules/alertifyjs/build/css/themes/bootstrap.min.css';
@import '../node_modules/@fortawesome/fontawesome-free/css/all.min.css';
@import '../node_modules/font-awesome/css/font-awesome.min.css';
@import '../node_modules/ngx-bootstrap/datepicker/bs-datepicker.css';

.pointer {
   cursor: pointer; 
}

body {
    background-color: #ECECEC;
    font-family: Flama-Light;
}

/* Imported fonts */
@font-face {
    font-family: 'Flama-Basic';
    src: url('assets/fonts/Flama-Basic.otf') format('opentype');
}

@font-face {
    font-family: 'Flama-Light';
    src: url('assets/fonts/Flama-Light.otf') format('opentype');
}

